body{
	font-family: 'Poiret One', cursive;
	-webkit-animation: fadeIn 3s; /* Safari 4+ */
	-moz-animation:    fadeIn 3s; /* Fx 5+ */
	-o-animation:      fadeIn 3s; /* Opera 12+ */
	animation:         fadeIn 3s; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes fadeIn {
  0%   { opacity: 0;}
  100%{ opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100%{ opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100%{ opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100%{ opacity: 1; }
}
h1{
	margin-top: 1em;
	font-family: 'Righteous', cursive;
	font-size: 5em;
}
h1, h2{
	text-align: center;
}
h2{
	margin: 1em 0 0 0; 
	font-size: 3em;
}
#count_down{
	color:red;
	margin-top: 10%;
	font-size: 7em;
}
#count_down_container{
	margin: 0 auto;
	max-width: 1000px;
}
#loading{
	display:block;
	margin: 0 auto;
}
#result{
	font-size: 5em;
	margin-top: 1em;
}
.selectable{
	cursor:pointer;
	border-radius: 150px;
	background:white;
	-webkit-transition: margin-bottom .5s linear;
    -moz-transition: margin-bottom .5s linear;
  	-o-transition: margin-bottom .5s linear;
  	transition: margin-bottom .5s linear;
}
.selectable:hover{
	box-shadow: 0 30px 80px rgba(150,150,150,1);
	position:relative;
	/*top: -50px;*/
	margin-bottom: -20px;
}
#left{
	float:left;
}
#right{
	float: right;
}
#selection_block{
	text-align: center;
	margin-top: 2em;
}
.result_header{
	text-align: center;
}
#play_again{
	cursor:pointer;
	border:1px solid black;
	padding:6px 0px;
	margin: 0 auto;
	max-width: 30%;
}
#play_again_box{
	opacity:0;
}
#play_again:hover{
	color:red;
	border:1px dashed red;
}
#select_weapon{
	margin: 1em auto 0 auto;
	max-width: 47%;
	background-color: rgba(250,50,50,1);
	border-radius: 70px;
	padding:.1em 0 .2em 0;
	color:white;
	cursor:pointer; 
}

#container{
	margin: 0 auto;
	max-width: 1000px;
}

.icons{
	display: inline-block;
	height:300px;
	width:300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 230px;
}
#rock{
	background-image: url("../images/rock.jpeg");
}
#paper{
	background-image: url("../images/paper.jpeg");
}
#scissors{
	background-image: url("../images/scissors.jpeg");
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }
